@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400&family=Roboto+Serif:ital,wght@0,100;0,300;0,400;0,500;1,100;1,200&family=Titillium+Web:ital,wght@0,200;0,400;1,200;1,300&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Titillium Web',Roboto,Poppins,cursive;
        }
        .container{
            position: relative;
            width: 100vw;
            height: 100vh;
            background: url('../images/olieman-eth--o90yRQoXAM-unsplash.jpg') no-repeat center/cover;
            background-blend-mode: lighten;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #back{
            background: rgba( 104, 80, 80, 0.15 );
            box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
            backdrop-filter: blur( 7.5px );
            -webkit-backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            position: absolute;
            top: 20px;
            left: 10px;
            width: 10%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            padding: 1.5rem;
        }
        #back:hover{
            background: rgba( 255, 255, 255, 0.3 );
        }
        form{
            background: rgba( 104, 80, 80, 0.15 );
            box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
            backdrop-filter: blur( 7.5px );
            -webkit-backdrop-filter: blur( 7.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 50%;
            max-height: 80%;
            padding: 0.5rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            font-size: 1.3rem;
        }
        form h1{
            color: white;
        }
        label{
            width: 60%;
            display: flex;
            gap: 0.5em;
            align-items: center;
            padding: 3px;
            border-bottom:2px solid white;
        }
        label input{
            width: 90%;
            height: 30px;
            padding: 10px;
            background: transparent;
            border: none;
            color: white;
            outline: none;
            font-size: 1.3rem;
        }
        .icon{
            height: 40px;
            filter: invert(1) drop-shadow(0 0 5px black);
        }
        label input::placeholder{
            color: lightgrey;
            text-shadow: 1px 0px 10px black;
        }
        #submit{
            width: 40%;
            height: 30px;
            border: 2px solid white;
            padding: 5px;
            background: transparent;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            text-decoration: none;
            font-size: 1.3rem;
            padding: 1.5rem;
        }
        #submit:hover{
            background-color: white;
            color: rgba(0, 0, 0, 0.7);
            transition: all 0.2s;
        }

        @media (max-width:970px){
            #back{
                width: 20%;
            }
            form{
                width: 70%;
            }
            label{
                width: 80%;
            }
            #submit{
                width: 45%;
            }
        }

        @media (max-width:970px){
            #back{
                width: 40%;
            }
            form{
                padding: 0.5em;
                width: 90%;
            }
            label{
                width: 100%;
            }
            #submit{
                width: 45%;
            }
        }